body{
  background-color: rgb(95, 66, 122);
}
.contain{
  display: flex
}
.a1{
  height: 150px;
  width: 150px;
  border-bottom: 5px solid;
  border-right: 5px solid;
 text-align: center;
 font-size: 150px;
}
.a2{
  height: 150px;
  width: 150px;
  border-bottom: 5px solid;
  border-right: 5px solid;
  border-left: 5px solid;
  text-align: center;
  font-size: 150px;

}
.a3{
  height: 150px;
  width: 150px;
  border-bottom: 5px solid;
  border-left: 5px solid;
  text-align: center;
  font-size: 150px;
}

.b1{
  height: 150px;
  width: 150px;
  border-bottom: 5px solid;
  border-right: 5px solid;
  border-top: 5px solid;
  text-align: center;
  font-size: 150px;
}
.b2{
  height: 150px;
  width: 150px;
  border: 5px solid;
  text-align: center;
  font-size: 150px;
}
.b3{
  height: 150px;
  width: 150px;
  border-bottom: 5px solid;
  border-left: 5px solid;
  border-top: 5px solid;
  text-align: center;
  font-size: 150px;
  
}

.c1{
  height: 150px;
  width: 150px;
  border-top: 5px solid;
  border-right: 5px solid;
  text-align: center;
  font-size: 150px;
}
.c2{
  height: 150px;
  width: 150px;
  border-top: 5px solid;
  border-right: 5px solid;
  border-left: 5px solid;
  text-align: center;
  font-size: 150px;
}
.c3{
  height: 150px;
  width: 150px;
  border-top: 5px solid;
  border-left: 5px solid;
  text-align: center;
  font-size: 150px;
}

.hide{
  display: none;
}